<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
<table>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Pic</th>
    </tr>
    <tr>
        {% for obj in dict %}
      <td>{{(obj['name'])}}</td>
      <td>{{(obj['price'])}}</td>
      <td><img src="{{(obj['image_url'])}}"></td>
    </tr>
    {% endfor %}
    <table>